# Dependencies
node_modules/
yarn.lock

# Build output
dist/
build/

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temp files
*.tmp
*.cache
